<div id="fullform">
    <form class="example-form">
      <div class="mdc-card mdc-card--outlined" preference="fill">
        <h1 style="text-align: center;">REGISTRATION</h1>
      </div>
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" value="" required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input type="text" matInput placeholder="Address" value="" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="abc@gmail.com">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput   required>
        </mat-form-field>
        <br>
        <h4>Gender :</h4>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Others">Others</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <mat-form-field>
          <mat-label>Date of Birth:</mat-label>
          <input type="date" matInput required>
        </mat-form-field>
        <br>
        <h3>Your Department:</h3>
        <mat-checkbox>CSE</mat-checkbox><br>
        <mat-checkbox>ECE</mat-checkbox><br>
        <mat-checkbox>IT</mat-checkbox><br>
        <mat-checkbox>EEE</mat-checkbox>
        <br><br>
        <div align="center">
        <button   mat-raised-button color="primary">REGISTER</button></div>
      </form>
    </div>