
mat-card::ng-deep.mat-card-header-text {
  margin-top: 30px;
  width: 100%;
}
#fullform{
    width: 60%;
    margin-left: 18%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.lform{
    min-width: 350px;
    max-width: 800px;
    width: 100%;
  }
  .lform-width{
    padding-left: 30px;
    width: 80%;
  }
  .uform-width{
    padding-left:30px;
    width:80%;
  }

.boou
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background: white;
}