.example-spacer {
  flex: 1 1 auto;
}
.home{
    background-color: blueviolet;
    color: aliceblue;
}
.span{
    width: auto;
   padding: 0 2% 0 2%;
   margin-right: 2%;
   box-sizing: content-box;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 580;
  font-size: 100%;
  display: inline;
}
